body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffddd2;
    font-size: 18px;
    padding: 3%;
}

.title {
    text-align: center;
}

.foto {
    border-radius: 50%;
    float: left;
    height: 200px;
    padding: 10px;
    background-color: #370617;
}

.descricao {
    position: absolute;
    top: 10px;
    left: 245px;
}

.foto-e-desc {
    width: 80%;
    height: 450px;
    position: relative;
}

.verFoto {
    position: absolute;
    bottom: 510px;
    left: 115px;
}


h3 {
    font-size: 18px;
}

.habilidades {
    font-style: italic;
}

.iconeLinkedin {
    width: 30px;
    margin-left: 10px;
}

.iconeInstagram {
    width: 30px;
    margin-left: 10px;
}

.iconeGithub {
    width: 30px;
    margin-left: 10px;
}