body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffddd2
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}

.sobre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}