body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffddd2;
    font-size: 18px;
}

.title {
    text-align: left;
}

.foto {
    border-radius: 50%;
}

.verFoto {
    margin-left: 65px;
}


.iconeLinkedin {
    width: 30px;
    margin-left: 10px;
}

.iconeInstagram {
    width: 30px;
    margin-left: 10px;
}

.iconeGithub {
    width: 30px;
    margin-left: 10px;
}