body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffddd2;
    font-size: 18px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}

.foto {
    border-radius: 50%;
}

.sobre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nacionalidade {
    font-size: 22px;
    color: #e63946
}

.organizado {
    font-size: 20px;
}

.proativo {
    font-size: 25px;
}

.aprendizado {
    font-size: 21px;
}

.comunicativo {
    font-size: 25px;
}